<h1>My Bookings</h1>

<div class="container text-center">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <% @bookings.each do |booking| %>
        <div class="col">
          <div class="card px-2">
            <div class="card-body">
              <h1><%= booking.car.model %></h1>
              <h2></h2>
              <p></p>
              <p>ðŸ“ p>
              <p></p>
              <p></p>
              <p></p>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
